.hero-img {
    content:'' ;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.hero-img:nth-child(odd) {
    flex-direction: row-reverse;
}

.hero-img h1 {
    text-transform: uppercase;
}

.heading, .video-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.video-wrapper video {
    width: 90%;
}

.hero-img h1 {
    font-size: 2.4rem; 
}

.hero-img p {
    font-size: 1.4rem;
    text-align: center;
}

@media screen and (max-width:640px) {
    .hero-img h1 {
        font-size: 2rem;
    }
    .hero-img p {
        font-size: 1.4rem;
        text-align: center;
    }
}

@media (max-width: 1040px) {
    .hero-img, .hero-img:nth-child(odd) {
        flex-direction: column-reverse;
    }
}