* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.nav-menu {
  display: flex;
  text-decoration: none;
}
.nav-menu li {
 padding: 0% 1rem;

}
.nav-menu li a{
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-menu li a, .header a h1 {
  text-transform: uppercase;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background: #fff;
  
}

#ProjectsContainer {
  margin-top: 5%;
}

#ProjectsContainer h1 {
  text-align: center;
  text-transform: capitalize;
}

#video {
  position: relative;
  width: 100%;
  height: 97%;
  z-index: -0;
}

.hero {
  height: 100vh;
  background-color: #fff;
}

.hero .intro-content {
   position: absolute;
   transform: translate(-50%, -50%);
   top: 50%;
   left: 50%;
   text-align: center;
}

.hero .intro-content h1 {
  font-size:  6rem;
  padding: 0.6rem 0 1.5rem;
  color: #fff;
}

.hero .intro-content p {
  font-size: 3rem;
  font-weight: 200;
  color: #fff;
}

.intro-content {
  padding: 75px;
}

.intro-content .wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.intro-content span {
  position: absolute;
  display: block;
}


.wrapper button, form button.btn {
  text-align: center;
  background-color: #fff;
  color: #cf4520;
  width: 48%;
  font-size: 19px;
  box-sizing: border-box;
  border-radius: 28px;
  padding: 8px 12px;
  text-decoration: none;
  /* margin: 0 auto 14px auto; */
  border: solid 1px #cf4520;
  transition: all 200ms ease-in;
  cursor: pointer;
  text-transform: capitalize;
}

.nav-menu li a {
  transition: all 200ms ease-in;
  border-radius: 28px;
  padding: 8px 12px;
}

.nav-menu li a:hover {
  color: #fff;
  background-color: #cf4520;
} 

.nav-menu li a:focus, .header a:focus {
  outline: 1px solid #cf4520;
}

.wrapper button a:focus {
  outline: none;
}

.wrapper button:hover, .wrapper button:focus, form button.btn:hover, form button.btn:focus {
  background-color: #cf4520;
  outline: 1px solid #cf4520;
}

.wrapper button:hover a, .wrapper button:focus a, form button.btn:hover, form button.btn:focus{
  color: #fff;
}


.intro-content span:nth-child(1){
  height: 7px;
  width: 100%;
  top:0px;
  left:-200px;
  background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d, #fff);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
  animation-direction: alternate-reverse;
  z-index: 1;
}

@keyframes span1{
  0%{
      left:-200px
  }
  100%{
      left:200px;
  }
}

.intro-content span:nth-child(2){
  height: 100%;
  width: 7px;
  top:-70px;
  right:0px;
  background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d, #fff);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
  animation-direction: alternate;
}
@keyframes span2{
  0%{
      top:-70px;
  }
  100%{
      top:70px;
  }
}

.intro-content span:nth-child(3){
  height: 7px;
  width: 100%;
  right:-200px;
  bottom: 0px;
  background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d, #fff);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
  animation-direction: alternate;
}
@keyframes span3{
  0%{
      right:-200px;
  }
  100%{
      right: 200px;
  }
}

.intro-content span:nth-child(4){
  height: 100%;
  width: 7px;
  bottom:-70px;
  left:0px;
  background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d, #fff);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
  animation-direction: alternate-reverse;
}
@keyframes span4{
  0%{
      bottom: -70px;
  }
  100%{
      bottom:70px;
  }
}

/* .intro-content span:hover {
  animation-play-state: paused;
}
 */

body {
  background-color: #fff;
}

h1, h4, p, a {
  text-decoration: none;
}

ul {
  list-style-type:none ;
}

.hamburger {
  display: none;
  margin-left: 5%;
}


.footer {
  width: 100%;
  background: #fff;
  box-shadow: 0px -10px rgb(207 69 32), 0px -20px rgb(255 142 4);
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 150px;
}

.footer > div {
  margin: 1em;
}

.footer > div.phone {
  margin-left: 30px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cf4520;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c43b15;
}

.aboutSection {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
}

.aboutPic, .aboutText {
  width: 50%;
}

.aboutPic img {
  width: 100%;
}

.aboutPic {
  padding: 50px;
  padding-right: 0px;
}

.aboutText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: start;
  padding: 100px;
}


@media  screen and (max-width: 1040px) { 

  .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: ;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -3 ;
    transition: 0.3s;
  }

  .nav-menu.active{
    left: 0; 
    top: 75px;
    z-index: 4;
    background-color: #fff;
  }

  .nav-menu li {
    padding: 1rem 0;
  }
  .nav-menu li a {
    font-size: 2rem;
  }
  .hamburger {
    display: initial;
  }

  .intro-content .wrapper {
    display: block;
  }

  .wrapper button {
    width: 100%; 
    margin: 0.5em auto;
  }

  .aboutSection {
    flex-direction: column;
  }

  .aboutPic, .aboutText {
    width: 100%;
    padding: 30px;
  }

  .footer {
    padding: 50px;
  }
}

@media screen and (max-width:640px) {
  .footer {
    flex-direction: column;
    padding: 20px;
  }
}
